@import url('../../styles/section.less');

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.label {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 4px;
}

.btn {
    background-color: #007acc;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
}
